$color-blue: #0085C3;
$color-dark: #5B5B5B;
$color-light-gray: #EBEBEB;

body, html {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background-color: #F4F4F4;
}

h1 {
	font-weight: normal;
}

.button, input[type="submit"] {
	text-transform: none;
	font-size: 1em;
	font-weight: normal;
}
.button {
	transition: -webkit-box-shadow .3s, -moz-box-shadow .3s, box-shadow .3s;
	&:hover {
		-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.3);
	}
}

div.login-background {
	color: white;
	width: 100%;
	height: 100%;
	background-color: $color-blue;
	background-image: url(../img/big_dell_logo.svg);
	background-size: 120%;
	background-position: 0% 35%;

	p {
		font-weight: lighter;
	}

	.login-form {
		input.just-line {
			font-weight: lighter;
			padding-left: 0px;
			background-color: transparent;
			border-bottom: 2px solid white;
			border-left: none;
			border-top: none;
			border-right: none;
			border-radius: 0px;
		}

		input::-webkit-input-placeholder {
		   color: #FFFFFF;
		}

		input.submit {
			border-radius: 19px;
			background-color: white;
			border: none;
			color: $color-blue;
		}

		div.message {
			height: 75px;
		}

		input:-webkit-autofill {
			color: white;
		    -webkit-text-fill-color: white;
		    -webkit-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:-moz-autofill {
			color: white;
		    -moz-text-fill-color: white;
		    -moz-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:-o-autofill {
			color: white;
		    -o-text-fill-color: white;
		    -o-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:-khtml-autofill {
			color: white;
		    -khtml-text-fill-color: white;
		    -khtml-box-shadow: 0 0 0px 1000px $color-blue inset;
		}

		input:focus:-webkit-autofill {
			color: white;
		    -webkit-text-fill-color: white;
		    -webkit-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:focus:-moz-autofill {
			color: white;
		    -moz-text-fill-color: white;
		    -moz-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:focus:-o-autofill {
			color: white;
		    -o-text-fill-color: white;
		    -o-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
		input:focus:-khtml-autofill {
			color: white;
		    -khtml-text-fill-color: white;
		    -khtml-box-shadow: 0 0 0px 1000px $color-blue inset;
		}
	}
}

div.header{
	background-color: $color-blue;
	height: 80px;
	color: white;

	div.logo {
		margin-top: 20px;
		img {
			float:left;
		}
		span {
			float: left;
			color: white;
			line-height: 1;
			font-weight: lighter;
			font-size: 0.8em;
			margin-left: 20px;
			margin-top: 2px;
		}
	}
	div.user-label {
		margin-top: 22px;
		cursor: pointer;
		span {
			margin-top: 4px;
			float: right;
		}
		img {
			float: right;
			margin-top: 14px;
			margin-left: 10px;
		}
	}
	div.budget-label {
		float: right;
		margin-top: 20px;
		margin-right: 50px;
		span.big {
			float: left;
			font-size: 1.5em;
			line-height: 1;
			font-weight: lighter;
		}
		span.desc {
			font-size: 0.8em;
			float: left;
			clear: left;
		}
	}
}

div.filter {
	float: left;
	color: $color-dark;
	margin-right: 20px;

	div.circle {
		float: left;
		box-sizing: border-box;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background-color: red;
		text-align: center;
		font-size: 1.7em;
		font-weight: lighter;
		padding-top: 9px;

		&.finished {
			color: #5B5B5B;
			background-color: $color-light-gray;
			border: 2px solid $color-light-gray;
		}
		&.execution {
			color: #5B5B5B;
			background-color: $color-light-gray;
			border: 2px dashed #5B5B5B;
		}
		&.waiting {
			color: #5B5B5B;
			background-color: $color-light-gray;
			border: 2px solid #5B5B5B;
		}
		&.unread {
			color: white;
			background-color: #5B5B5B;
			border: 2px solid #5B5B5B;
		}
	}

	&>span {
		float: left;
		font-size: 0.8em;
		line-height: 1;
		margin-top: 19px;
		margin-left: 10px;
	}
}

div.table-head {
  font-size: 0.8em;
  color: #9F9F9F;
}
div.project-item {
  font-size: 1em;
  color: #4F4F4F;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  .small {
	font-size: 0.8em;
	margin-top: 4px;
  }
  span strong {
	font-weight: normal;
	color: #B3B3B3;
  }

  &.unread {
	color: $color-blue;
  }
}

div.table-head, div.project-item {
  padding: 8px;
  float: left;
  width: 100%;
  span {
	float: left;
	box-sizing: border-box;
  }
}

span.id {width: 7%;}
span.partner {width: 20%;}
span.type {width: 30%;}
span.state {width: 30%;}
span.execution-date {width: 13%;}



table {
  color: #4F4F4F;
  font-size: 1em;
  box-sizing: border-box;
  border-color: transparent;

  td:first-child {
	padding-left: 10px;
	span {
	  color: #B3B3B3;
	}
  }

  thead {
	tr {
	  background-color: transparent;
	}
	th {
	  font-weight: normal;
	  font-size: 0.8em;
	  color: #9F9F9F;
	  &:first-child {
		padding-left: 10px;
	  }
	}
  }
  
  tr {
	background-color: #FAFAFA;
	display: table-row;
	margin-bottom: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border: none;
  }
  
  span.small {
	font-size: 0.8em;
  }
}